{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 43.8519774,
    "longitude": 18.3866868,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Belgrade",
    "external_url": null,
    "internal_url": null,
    "currency": "BAM",
    "country": "BA",
    "language": "en"
  }
}